@tailwind base;
@tailwind components;
@tailwind utilities;

/* .menu_items:hover {
  background-color: #e41c24;
  padding: 1.3rem 0.1rem;
  color: white;
  cursor: pointer;
} */

.nav__submenu {
  display: none;
}

.nav__menu-item:hover .nav__submenu {
  display: block;
}

/* .nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
} */

.nav {
  /* display: inline-block;
  margin: 2rem auto 0;
  background: #e41c24;
  color: #fff;
  text-align: left; */
  position: relative;
}

.nav a {
  display: block;
  padding: 0 16px;
  /* line-height: inherit; */
  cursor: pointer;
}

.nav__menu {
  line-height: 68px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__menu-item {
  display: inline-block;
  position: relative;
}

.nav__menu-item:hover {
  background-color: #e41c24;
  color: white;
  /* padding: 0 0.5rem; */
}

.nav__menu-item:hover .nav__submenu {
  display: block;
}

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 180px;
  background-color: #e41c24;
}

.nav__submenu-item:hover {
  background-color: #e79c9f;
}

.mobile__menu {
  display: none;
  /* background-color: #e41c24; */
}

/* .contactBg{
  background: url("./assets/bgs/Animated\ Shape\ \(1\).svg"), url("./assets/bgs/Simple\ Shiny\ \(1\).svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: 100% 312px, 100% 300px;
} */

/* .contactBg{
  background: url("./assets/bgs/Animated\ Shape.svg");
  background-color: rgba(143, 60, 60, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
} */


.contactBg2 {
  background: url("./assets/bgs/Colored\ Patterns.svg") no-repeat;
  background-size: cover;
}

.about {
  background: url("./assets/bgs/aboutCP2.svg") no-repeat;
  background-size: cover;
}

.misvis {
  background: url("./assets/bgs/bgvismis.png") no-repeat;
  background-size: cover;
}

.whybg {
  background: url("./assets/bgs/aboutCP.svg") no-repeat;
  background-size: cover;
}

.coursebg {
  background: url("./assets/bgs/some.png") no-repeat;
  background-size: contain;
}

.branchBg{
  background: url("./assets/bgs/worldmap.png") no-repeat;
  background-size: cover;
}

.ani {
  animation: fadeIn 5s ease;
}

.aniD1{
  animation: fadeIn 3s ease 0.5s;
}

.aniD2{
  animation: fadeIn 3s ease 1s;
}

.aniBox1{
  animation: box 2s ease;
}

.aniBox2{
  animation: box 2s ease;
  animation-delay: 200ms;
}
.aniBox3{
  animation: box 2s ease;
  animation-delay: 400ms;
}
.aniBox4{
  animation: box 2s ease;
  animation-delay: 600ms;
}.aniBox5{
  animation: box 2s ease;
  animation-delay: 800ms;
}.aniBox6{
  animation: box 2s ease;
  animation-delay: 1000ms;
}

.aniBox7{
  animation: box2 2s ease;
}

@keyframes box {
  0% { transform: translateX(-100%);}
  100% {transform: translateX(0%);}
}

@keyframes box2{
  0% {transform: translateX(100%)}
  100% {transform: translateX(0%)}
}


@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    display: none;
  }

  .mobile__menu {
    display: flex;
  }

  .slide__menu {
    position: absolute;
    z-index: 2;
    background-color: #e41c24;
    top: 10vh;
    right: -100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90vh;
    width: 50%;
    text-align: right;
    animation: slideLeft 1s ease;
    animation-fill-mode: forwards;
    font-size: 1.1rem;
  }

  .mobile__submenu {
    background-color: #e79c9f;
    font-size: 1rem;
    padding: 0.5rem 0;
  }


  @keyframes slideLeft {
    from {
      right: -100%
    }

    to {
      right: 0%
    }
  }
}